# IntelliJ
/.idea

# VS Code
**/metals.sbt
**/.bloop
.metals
settings.json

.DS_Store
target

*.orig

*#
*~
.#*
.*.swp
*.vim
.ensime*
.bsp

# attachments created by scripts/prepare-downloads.sh
docs/src/main/paradox/attachments
