name: Dependency License Scanning

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 6' # At 00:00 on saturdays

permissions:
  contents: read

jobs:
  fossa:
    name: Fossa
    runs-on: Akka-Default
    if: github.repository == 'akka/akka-http'
    steps:
      - name: Checkout Global Scripts
        uses: actions/checkout@v4
        with:
          repository: akka/github-actions-scripts
          path: scripts
          fetch-depth: 0

      - name: Setup global resolver
        run: |
          chmod +x ./scripts/setup_global_resolver.sh
          ./scripts/setup_global_resolver.sh

      - name: Checkout
        # https://github.com/actions/checkout/releases
        # v4.1.1
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0

      - name: Cache Coursier cache
        # https://github.com/coursier/cache-action/releases
        # v6.4.5
        uses: coursier/cache-action@1ff273bff02a8787bc9f1877d347948af647956d

      - name: Set up JDK temurin:1.17
        # https://github.com/coursier/setup-action/releases
        # v1.3.5
        uses: coursier/setup-action@7bde40eee928896f074dbb76d22dd772eed5c65f
        with:
          jvm: temurin:1.17

      - name: "fossa analyze"
        # https://github.com/fossas/fossa-action/releases/tag/v1.3.1
        uses: fossas/fossa-action@f61a4c0c263690f2ddb54b9822a719c25a7b608f
        with:
          api-key: ${{secrets.FOSSA_API_KEY}}

      - name: "fossa test"
        # https://github.com/fossas/fossa-action/releases/tag/v1.3.1
        uses: fossas/fossa-action@f61a4c0c263690f2ddb54b9822a719c25a7b608f
        with:
          api-key: ${{secrets.FOSSA_API_KEY}}
          run-tests: true
